{% extends 'base.html.twig' %}

{% block title %}{{ article.nom }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ article.nom }}</h1>
                <p class="lead card-text">{{ article.prix }} €</p>
                <p>Catégorie : {{ article.category.titre }}</p>
                <hr>
                <a href="{{ path('article_list') }}" class="btn btn-dark">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
